* {
    margin:0px;
    padding: 0px;
    
  }

  .navbar {
    position:fixed;
    display:flex;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background-color: darkred	;
    justify-content: flex-end;
  }
  .navbar > ul{
    display:flex;
    flex-direction: row;
    margin-right:5%;
    align-items: center;
  }
  li{
    list-style: none;
    
  }
  .navbar > ul> li{
    width:150px;
    font-size: 1.8rem;
    
  }
 .navbar > ul> li> a{
   color: white;
  }
 .navbar > ul> li> a> i{
   padding:5px;
 }
  
  a{
    text-decoration: none;
    }

  section{
    height: 100vh;
    width: auto;
    padding-top: 80px;
  }

