* {
    margin:0px;
    padding: 0px;
    
  }

  .navbar{
    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: firebrick;
    
  }

  .navbar > ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
    list-style-type: none;
    align-self: center;
    padding: 20px;
  }
  .navbar > ul > li > a {
    
    color: white;
  }

  section{
    height: 100vh;
    width: auto;
    padding-top: 80px;
  }

